<!DOCTYPE html>
<html>
  <head>
  	<title><%= t("COMPANY_NAME") %></title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
  </head>
  <body style="padding-top: 50px;">

    <script src="/lib/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/lib/underscore-min.js"></script>
    <script src="/lib/backbone-min.js"></script>
    <script src="/js/scripts.js"></script>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

            <div class="brand"><%= t("COMPANY_NAME") %></div>

            <ul class="nav">
              <% for item in navitems %>
                  <li><a href="<%= item.path %>"><%= item.title %></a></li>
              <% end %>
            </ul>

            <ul class="nav pull-right">
              <li class="dropdown">
                <a href="#"
                      class="dropdown-toggle"
                      data-toggle="dropdown"
                      id="dropdown-title"><%=username%><b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <% for item in menuitems %>
                    <% if item.instance_of? NavigationItem then %>
                      <li><a href="<%= item.path %>"><%= item.title %></a></li>
                    <% else %>
                      <li class="divider"></li>
                    <% end %>
                  <% end %>
                </ul>
              </li>
            </ul>

        </div>
      </div>
    </div>

	<div class="container main-content">
	  <div class="alert alert-error" style="display:none;"></div>
      <div class="alert alert-success" style="display:none;"></div>
        <!--Show two columns if there is a leftnav variable defined -->
        <%if @leftnav then %>
          <div class="row-fluid">
            <div class="span3">
              <!--Sidebar content-->
              <ul class="nav nav-tabs nav-stacked">
                <% for item in @leftnav %>
                    <li><a href="<%= item.path %>"><i class="icon-chevron-right"></i> <%= item.title %></a></li>
                <% end %>
              </ul>
            </div>
            <div class="span9 well">
              <!--Body content-->
              <%= yield %>
            </div>
          </div>
        <% else %>
          <%= yield %>
        <% end %>
	</div>

    <%= erb :footer %>
  </body>


</html>