<div class="things"></div>

<!-- User templates -->
<script type="text/template" id="thing-list-template">
  <h2><%=@displayAllTitle %></h2>
  <a href="#/new" class="btn btn-primary"><%=@newTitle %></a>
  <br/><br/>
  {{ if (things.length == 0) { }}
    <div class="alert alert-info"><%= t("common.NO_ITEMS") %></div>
  {{ } else { }}
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <% for item in @columns %>
            <th><%= item %></th>
        <% end %>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {{ _.each(things, function(thing) { }}
          <tr>
          {{ var attributes = _.omit(thing.attributes, ['id', 'json_class'])        }}
          {{ _.each(attributes, function(attribute) { }}
            <td>{{= attribute }}</td>
          {{ }); }}
            <td><a href="#/edit/{{= thing.id }}" class="btn"><%= t("buttons.EDIT_BUTTON") %></a></td>
          </tr>
      {{ }); }}
      </tbody>
    </table>
    {{ }; }}
</script>

<script type="text/template" id="edit-thing-template">
  <h2>{{= thing ? '<%=@editTitle %>' : '<%=@newTitle %>' }}</h2>
  <form class="edit-thing-form">
    {{ _.each(<%=@keys %>, function(key) { }}
      <label>{{= key }}<label>
      <input type="text" name="{{= key}}" value="{{= thing ? thing.get(key) : ''}}"><span class='required' title='<%=t("REQUIRED")%>'> *</span>
    {{ }); }}
    <hr />
    <button type="submit" class="btn">{{= thing ? '<%= t("buttons.UPDATE_BUTTON") %>' : '<%= t("buttons.CREATE_BUTTON") %>' }}</button>

    {{ if (thing) { }}
    <input type="hidden" name="id" value="{{= thing.id }}">
    <button type="button" class="btn btn-danger delete"><%= t("buttons.DELETE_BUTTON") %></button>
    {{ }; }}
  </form>
</script>

<!-- javaScript -->
<script>var source_url = "<%= @url %>";</script>
<script src="/js/things.js"></script>